{
    local_certs
}

{$CADDY_APP_DOMAIN:app.localhost} {
    reverse_proxy nextjs:3000
}

{$CADDY_API_DOMAIN:api.localhost} {
    reverse_proxy bff:8090
}

{$CADDY_AUTH_DOMAIN:auth.localhost} {
    reverse_proxy keycloak:8080
}